.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-traversable: false;
    -fx-font-size: 18pt;
    -fx-wrap-text: true;
    -icons-color: black;
}

.pagination {
    -fx-page-information-visible: false;
}

.glyph-icon {
    -fx-font-family: "FontAwesome";
    -fx-text-fill: text_color;
    -fx-fill: text_color;
}